@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500&family=Nunito:wght@300&family=Open+Sans:wght@600&display=swap&family=Katibeh&display=swap');
:root {
    --body-bg: #fff;
    --msger-bg: #fff;
    --left-msg-bg: #EEEEEE;
    --right-msg-bg: #F98B79;
    --nunito-font: 'Nunito', sans-serif;
    --border: 1px solid rgba(0, 0, 0, 0.1);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    /* margin: 25px 10px; */
    height: calc(100% - 50px);
    /* border: var(--border);
    border-radius: 5px; */
    background: var(--msger-bg);
}

.msger-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: var(--msger-bg);
    color: #666;
}

.msger-chat {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

.msg-text {
    color: #000;
    font-size: 12px;
    font-family: var(--nunito-font);
    line-height: 15px;
}

.msg-text-right {
    color: #F7EDED;
    font-size: 12px;
    font-family: var(--nunito-font);
    line-height: 15px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msger-chat {
    background: var(--msger-bg);
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 25px 0px 15px 25px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.left-msg .msg-bubble {
    border-radius: 15px 25px 25px 0px;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    padding: 15px;
    color: #fff;
    border-radius: 25px 15px 0px 25px;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    justify-content: flex-end;
    /* padding: 10px; */
    border-top: var(--border);
    background: var(--body-bg);
}

.msger-inputarea * {
    padding: 2px;
    border: none;
    font-size: 1em;
}

.date {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-style: normal;
}

.msger-input {
    flex: 1;
    background: var(--body-bg);
}

div .chat__scroll {
    background: var(--body-bg);
    border: var(--border);
    height: 450px;
    /* overflow: auto; */
}