@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;500&family=Nunito:wght@300&family=Open+Sans:wght@600&display=swap');
:root {
    --primary-color: #f88584;
    --opensans-font: 'Open Sans', sans-serif;
    --nunito-font: 'Nunito', sans-serif;
    --primary-font: 'Cormorant Infant', serif;
    --primary-font-color: #333333;
}

.login__btn {
    background: var(--primary-color);
    border-radius: 10px;
    font-family: var(--opensans-font);
}

header {
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, 0.04);
}

.logo {
    color: var(--primary-color);
}

.bg-smoke-dark,
.hover\:bg-smoke-dark:hover {
    background: rgba(0, 0, 0, 0.6);
}

.pin-t {
    top: 0;
}

.pin-r {
    right: 0;
}

.pin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    cursor: pointer;
}


/* hero section here */

.hero-text h1 {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    line-height: 60px;
}

.hero-text p {
    color: var(--primary-font-color);
    font-family: var(--nunito-font);
}

.hero-text span {
    color: var(--primary-color);
}

@media screen and (max-width: 576px) and (min-width: 275px) {
    .hero-text h1 {
        line-height: 50px;
        margin-bottom: 20px;
    }
}


/* How it works */

.how__it__works h3 {
    background: -webkit-linear-gradient(#ff3372, #feab3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--primary-font);
    font-weight: 500;
}

.works__p {
    font-family: var(--nunito-font);
    color: var(--primary-font-color);
}

.works__description {
    color: black;
    font-family: var(--nunito-font);
}


/* why choose us */

.choose__us {
    background: linear-gradient(90deg, rgba(248, 133, 132, 0.75) 0%, rgba(254, 171, 60, 0.75) 100%);
}

.why__us h3 {
    font-family: var(--primary-font);
    font-weight: 500;
}

.why__description {
    font-family: var(--nunito-font);
}


/* Newsletter here */

.newsletter h3 {
    font-family: var(--primary-font);
    font-weight: 500;
}

.join {
    font-family: var(--nunito-font);
}

.news__input {
    border-radius: 10px;
}

.subscribe {
    background: linear-gradient(90deg, #ff3372 0%, #feab3c 100%);
    border-radius: 10px;
}


/* footer here */

.foot {
    background: #393e46;
}

.alpha {
    font-family: var(--nunito-font);
    font-size: 16px;
}